[View in Colaboratory](https://colab.research.google.com/github/AliAzG/hello-world/blob/master/tweepy_test.ipynb)

In [0]:
!pip install tweepy

In [0]:
import tweepy
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
import matplotlib.pyplot as plt

In [0]:
consumer_key = "PGQ3msseu8hfPWMrCAH9gNi4T"
consumer_secret = "3QlV9hPxAMDnKUIUrEn4SdISDf7PjIjJ1tZ2DTUPVz8zMbtcAI"

auth = tweepy.OAuthHandler(consumer_key=consumer_key, consumer_secret=consumer_secret)
api = tweepy.API(auth)

In [0]:
results = api.search(q="دلار")

In [0]:
len(results)
print(results[1].text)

In [0]:
def print_tweet(tweet):
  print("@{} - {} - {}".format(tweet.user.screen_name, tweet.user.name, tweet.created_at))
  print(tweet.text)
tweet=results[8]
print_tweet(tweet)

In [0]:
tweet = results[8]
for param in dir(tweet):
  if not param.startswith("_"):
    print("{}:{}".format(param, eval('tweet.'+param)))

In [0]:
user = tweet.author
for param in dir(user):
  if not param.startswith("_"):
    print('{} - {}'.format(param, eval('user.'+param)))

In [0]:
results = []
for tweet in tweepy.Cursor(api.search, q='مادرید').items(2000):
  results.append(tweet)
print(len(results))

In [0]:
def process_results(results):
  id_list = [tweet.id for tweet in results]
  data_set = pd.DataFrame(id_list, columns=['id'])
  
  data_set['text'] = [tweet.text for tweet in results]
  data_set['created_at'] = [tweet.created_at for tweet in results]
  data_set['retweet_count'] = [tweet.retweet_count for tweet in results]
  data_set['favorite_count'] = [tweet.favorite_count for tweet in results]
  data_set['source'] = [tweet.source for tweet in results]
  
  data_set['user_id'] = [tweet.author.id for tweet in results]
  data_set['user_screen_name'] = [tweet.author.screen_name for tweet in results]
  data_set['user_name'] = [tweet.author.name for tweet in results]
  data_set['user_created_at'] = [tweet.author.created_at for tweet in results] 
  data_set['user_description'] = [tweet.author.description for tweet in results]
  data_set['user_followers_count'] = [tweet.author.followers_count for tweet in results]
  data_set['user_friends_count'] = [tweet.author.friends_count for tweet in results]
  data_set['user_location'] = [tweet.author.location for tweet in results]
  
  return data_set
dollar_set = process_results(dollar)
war_set = process_results(war)
football_set = process_results(football)

In [0]:
data_set.head(5)

In [0]:
data_set.tail(5)

In [0]:
sources = data_set['source'].value_counts()[:5][::-1]
plt.barh(range(len(sources)), sources.values)
plt.yticks(np.arange(len(sources)) + 0.4, sources.index)
plt.xlabel('Persian Tweets', fontsize=20)
plt.show()

In [0]:
from google.colab import files

data_set.to_csv('data_set_football.csv', encoding='utf-8')
files.download('data_set_football.csv')

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
dollar_set = pd.read_csv('data_set_dollar.csv')
war_set = pd.read_csv('data_set_war (1).csv')
football_set = pd.read_csv('data_set_football (1).csv')

In [0]:
frames = [dollar_set, war_set, football_set]
dataset = pd.concat(frames)
print(len(dataset))

In [0]:
dataset = dataset.sample(frac=1).reset_index(drop=True)
dataset.head(20)

In [0]:
dataset.to_csv('dataset.csv', encoding='utf-8')
files.download('dataset.csv')

In [130]:
text = dataset.head(1).text
vectorizer = CountVectorizer()
vectorizer.fit(text)
te=vectorizer.vocabulary_
vector = vectorizer.transform(text)
vector_shape = vector.shape
vector_list = vector.toarray()
te

{'اسپانیا': 0, 'خبر': 1, 'در': 2, 'دلار': 3, 'شد': 4, 'فوری': 5, 'گران': 6}

In [126]:
text = ["My name is Ali Aminzadeh Gohari and my job is programming and my company is virascience and I love my job"]
vectorizer = CountVectorizer()
vectorizer.fit(text)
te=vectorizer.vocabulary_
vector = vectorizer.transform(text)
vector_shape = vector.shape
vector_list = vector.toarray()
text2 = ["the puppy"]
vector2 = vectorizer.transform(text2)
print(te)

{'my': 8, 'name': 9, 'is': 5, 'ali': 0, 'aminzadeh': 1, 'gohari': 4, 'and': 2, 'job': 6, 'programming': 10, 'company': 3, 'virascience': 11, 'love': 7}

In [137]:
text = ["The quick brown fox jumped over the lazy dog.",
		"The dog.",
		"The fox"]
vectorizer = TfidfVectorizer()
vectorizer.fit(text)
vocab = vectorizer.vocabulary_
idf = vectorizer.idf_
vector = vectorizer.transform([text[0]])
print(vocab)
idf

{'the': 7, 'quick': 6, 'brown': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}

array([1.69314718, 1.28768207, 1.28768207, 1.69314718, 1.69314718,
       1.69314718, 1.69314718, 1.        ])